In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [40]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [64]:
import numpy as np

# Step 1. Select Asia cars
df_asia = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)

# Step 2. Get numpy array
X = df_asia.values

# Step 3. Compute XTX
XTX = X.T @ X

# Step 4. Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Step 5. Create y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 6. Compute w
w = XTX_inv @ X.T @ y

# Step 7. Sum of elements
w.sum()

np.float64(0.5187709081074016)